<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    
    {% block header %}

    <header>

        <section class="logoAndBtnContainer">
            <img src="{{ asset('../assets/images/logo.jpeg') }}" width="120px" alt="logo">
            <button> EN</button>
            <button>MODE</button>
        </section>

         <section class="navBarContainer">
            <nav>
                <div class="dropdown">
                        <button class="dropbtn">Le club</button>
                        <div class="dropdown-content">
                        <a href="#">Membres du CA</a>
                        <a href="#">Nos entraineurs</a>
                        <a href="#">Reglement</a>
                        <a href="#">Stages</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Ecole du bad</button>
                        <div class="dropdown-content">
                        <a href="#">Section 1 </a>
                        <a href="#">Section 2 </a>
                        <a href="#">Section 3 </a>
                        <a href="#">Section 4 </a>
                        </div>
                    </div>
                    <button class="dropbtn" href="{{ path('app_home') }}">Tarifs</button> 
                    <button class="dropbtn" href="{{ path('app_home') }}">Actualité</button> 
                    <button class="dropbtn" href="{{ path('app_home') }}">Ils nous soutiennent</button>
                    <button class="dropbtn" href="{{ path('app_home') }}">Boutique</button>
                    <button class="dropbtn" href="{{ path('app_home') }}">Mon compte</button>
            </nav>
        </section>

        <section class="WelcomingMsgContainer">
            <img src="{{ asset('../assets/images/fente.jpg') }}" width="400px" alt="joueur de badminton">
        </section>
        <section class = "secondMenuContainer">
            <button class="btn" href="{{ path('app_home') }}">Voir les créneaux</button>
            <button class="btn" href="{{ path('app_home') }}">M'inscrire</button>
            <button class="btn" href="{{ path('app_home') }}">Faire un essai</button>
        </section>
    </header>

{% endblock %}



        {% block body %}
        
        
        
        {% endblock %}
    </body>
</html>
